<template name="form">
    <form class="add-new-post">
        <input class="add-new-title" type="text">
        <input type="text" class="add-new-decription">
        <input type="file">
        <button type="submit">submit</button>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            {{updateMasonry}} {{this.name}} {{this.createdAt}} {{this.Text}}<img src="{{displayImages}}"> {{postImage}}
            <!-- <img src="{{this.url}}">-->
        </div>
        {{/each}}
    </div>

</template>